/* base */
/* fonts */
/* roboto */
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
  }
    @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
  }
    @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); }

    /* Play */
     @font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');

      }
:root{--color-brand:#2B7FFF;
    --color-primary-dark-blue:#011C44;
    --color-primary-light:#FFFFFF;
    --color-dark:#000000;
    --color-dark-gray:#4A4A4A;
    --color-gray:#747272;
    --color-light:#FAF4EA;
}
ul{list-style-type: none;
margin: 0;
padding: 0;}
body{color: var(--color-primary-dark-blue);
    font-family: roboto, sans-serif; 
font-size: 22px;
font-weight: 400;
line-height: 1.5;
margin: 0 ;
}
*,
::after,
::before
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6,p{margin-top: 0;}
a{display: inline-block;}

.conteiner{width: 100%;
max-width: 1440px ;
margin: 0 auto;
padding: 0 24px;
}
/* header-section */

.header-conteiner{display: flex;
                  align-items: center;
                  gap: 40px;}
 .header-nav{display: flex;
            flex-grow: 1;
            align-items: center;
            gap: 240px;}
  .header-menu{display: flex;
            gap: 56px;
            
            justify-content: center;}  
    .header-adress{display: flex;
                   gap: 42px;
                }
    /* .header-icon{fill: var(--color-primary-dark-blue);} */
/* button */
.button{color: var(--color-primary-light);
background-color: var(--color-brand);
border-radius: 32px;
border: 2px solid var(--color-brand) ;
cursor:pointer;
width: 232px;
height: 56px;
font-family: roboto, sans-serif;

font-weight: 600;
font-size: 18px;
line-height: 1.16 ;
margin-bottom: 14px;
}
.button:hover{color:var(--color-primary-dark-blue);
background-color: transparent;}

/* link */
.link{color:var(--color-primary-dark-blue);
text-decoration: none;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
}
.link:hover{color:var(--color-brand)}

/* hero-section */
.hero-conteiner{padding-left: 120px;}
.hero-section{padding-top: 16.52px;
    padding-bottom: 123.81px;
 background-image: url(../images/backg-hero.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;}
.hero-title{color: var(--color-brand);
font-family: Play, sans-serif;
font-size: 140px;
font-weight: 700;
line-height: 0.8;
margin-bottom: 40px;
max-width: 529px;
}
.hero-text{font-size: 18px;
line-height: 1.16;
margin-bottom: 16px;}
.hero-paragraph{font-size: 12px;
}

/*  секція перевтілюйтесь в Beuty Zone */
.title-accent{color: var(--color-brand);}
.section-title{font-family: Play, sans-serif;
font-weight: 700;
font-size: 64px;
line-height:1.2 ;
margin-bottom: 40px;
max-width: 529px;}
.about-us-text{line-height: 1.7;}
.about-us-text-accent{font-weight: 600;}
.about-us-paragraph{margin-bottom: 40px;}
.about-us-photo{width: 335px;
        height: 328px;}
    .about-us-conteiner{display: flex;
    gap: 28px;}
    
/* секція чому люди обирають нас */

.background{background-image: url(../images/background-section.png);
background-position: center top;
background-repeat: no-repeat;
background-size: cover;}
.conteiner-why-us{padding-top: 176px;
padding-bottom: 75px;}
.why-us-text{font-size: 18px;
line-height: 1.3 ;}
 .why-us-title{margin:0 auto 48px;}
    .section-title.centered{text-align: center;}
    
.whu-us-list{display: flex;
    gap: 56px;
    justify-content: center;}
.whu-us-card{ 
    
     padding: 24px;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
background-color: var(--color-primary-light); }

.text-card{color: var(--color-dark);
font-size: 18px;
line-height: 1.3;
border-radius: 32px;
max-width: 252px;}

/* секція наші процедури */
.procedures-card{background-image: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%,rgba(1, 28, 68, 0.73) 84.641%,rgb(1, 28, 68) 101.43%);
    width: 344px;
    height: 456px;
  text-align: center;}
.procedures-text{ display: flex;
    gap: 32px ;
    align-items: center;
    justify-content: center;
    line-height: 1.2;}
.procedures-list{display: flex;
    justify-content: center;
    gap: 24px 16px;
    flex-wrap: wrap;
flex-wrap: wrap;}
.conteiner-procedures{padding-bottom: 76px;}
.section-title-procedures{margin:0 auto 48px;
   }
   .carousel-button{display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-shrink: 0;
                     width: 44px;
                  height: 44px;
                  padding: 0 ;  
                  fill: var(--color-light);             ;
                  background-color: transparent;
                  border: 1px solid var(--color-primary-dark-blue) ;
                border-radius: 50%;
            cursor: pointer;}
    .carousel-button:hover{background-color: var(--color-brand);
        fill: var(--color-light);}
    .arrow svg:hover{fill: var(--color-light);}

/* секція як нас знайти */
.accent{color: var(--color-brand);}
.contacts-text{font-weight: 600;
                line-height: 1.2;
                max-width: 274px;
            border: 2px solid #011C44;
            text-align: center;}
.conteiner.contact{padding-bottom: 104px;}
.title-contact{margin:0 auto 20px;
               max-width: 432px;}
.contact-section{display: flex;
                  gap: 32px;
                }
.contact-map{flex-shrink: 0;
    border: none;
    border-radius: 32px;}

/* footer */

/* inny color */
.link-footer{color:var(--color-light);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}
.link-footer:hover{color:var(--color-brand)}
.securety-footer{color: var(--color-gray);
    font-size: 13px;
line-height:1.15 ;}
.footer-section{background-color: var(--color-primary-dark-blue);
                background-image: url(../images/footer-backg.png);
                 background-repeat: no-repeat;
                background-size: cover;
              background-position: center;
            padding: 32px 0}
.footer-conteiner{display: flex;

gap: 20px;}
.footer-nav, .footer-address{ display: flex;
    flex-basis: 50%;
    gap: 20px;  }
    
    .footer-logo{flex-grow: 1;} 
    .footer-menu{ flex-basis: 50%;}
    .address-info, .address-list{flex-grow: 1;}
    .address-list{fill: var(--color-light);}
    .footer-icons{display: flex;
    
gap: 38.33px;}